.logo-img {
  height: 70px;
  object-fit: contain;
}

.btn-custom {
  background: linear-gradient(to right, #2575fc, #6a11cb);
  color: #fff;
  border: none;
}

.btn-custom:hover {
  opacity: 0.9;
}

.course-card:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
}

.card {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
